[Desktop Entry]
Type=Application
Version=1.0
Name=Install SecurOS
GenericName=System Installer
Keywords=calamares;system;installer;
TryExec=/usr/local/bin/install-securos
Exec=/usr/local/bin/install-securos
Comment=SecurOS System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
