[Desktop Entry]
Version=1.0
Type=Application
Name=SecurOS Menu
Comment=Security Tools Menu
Exec=xfce4-popup-whiskermenu
Icon=/usr/share/icons/securos/securos-logo.png
Path=
Terminal=false
StartupNotify=false
